<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="redisConfig" type="ServiceStack.Redis.FormUI.RedisConfig,ServiceStack.Redis.FormUI"/>
  </configSections>
  <!--<redisConfig
    writeServerConnString="127.0.0.1:6379"
    readServerConnString="127.0.0.1:6379"
    maxWritePoolSize="1"
    maxReadPoolSize="1"
    autoStart="true"
    localCacheTime="3500"
    recordeLog="true"></redisConfig>-->
  <redisConfig
    writeServerConnString="127.0.0.1:6379"
    readServerConnString="127.0.0.1:6379"
    defaultDb="0"
    maxWritePoolSize="10"
    maxReadPoolSize="10"
    autoStart="true"
    localCacheTime="3500"
    recordeLog="true"></redisConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
